<% layout('layout') -%>
<div class="row">
	<div class="nine columns centered">
		<h2>Filing Taxes? Beware Sharp Increase In Audit Rates</h2>
		<hr/>
		<h5 class="subheader">
Ah, tax day with its inevitable fretting over returns, extensions and payments is almost upon us! It’s hard not to think about your chance of audit when filing your taxes. Yet as a tax lawyer, I must assume every return will be audited.
		</h5>
		<h5 class="subheader">
If I believe there’s a 50% chance a deduction is correct, my advice must be based on the merits not on the audit lottery.
		</h5>
		<h5 class="subheader">
Still, when I wrote Beware More IRS Audits, Especially For Wealthy, I hadn’t seen the latest statistics that prove just how wary you should be. The IRS has released its 2011 IRS Data Book showing an unprecedented 62.8% spike in audit rates on the wealthiest taxpayers. These audits top out an all-time high of 30%.
		<a href="http://www.forbes.com/sites/robertwood/2012/04/06/filing-taxes-beware-sharp-increase-in-audit-rates/"> Read more ...</a>
		</h5>
					
	</div>
</div>

