<% layout('layout') -%>
<div class="row">
	<div class="nine columns centered">
		<h2>IRS Audit Statistics: Rates and Chances of Receiving a Tax Audit</h2>
		<hr/>
		<h5 class="subheader">
The chance of receiving an audit generally changes based upon income level and filing type. 
IRS statistics that are broken down by individual, income level, and business type.
		</h5>
		<h5 class="subheader">
These are the overall numbers provided by the IRS, but realize that there are many factors that go into determining if the IRS is going to audit.
		<a href="http://www.taxdebthelp.com/tax-problems/tax-audit/irs-audit-statistics"> Read more ...</a>
		</h5>
					
	</div>
</div>

