<% layout('layout') -%>
<div class="row">
	<div class="nine columns centered">
		<h2>IRS Audits of High Earners Increase Sharply</h2>
		<hr/>
		<h5 class="subheader">
Last year the Internal Revenue Service sharply increased face-to-face audits of upper-income taxpayers, according to data released today.
		</h5>
		<h5 class="subheader">
For taxpayers reporting income above $200,000, so-called field audits rose 34% in fiscal 2011 to 78,392, from 58,521 in fiscal 2010. (The IRS’s fiscal year begins on Oct. 1.)
		</h5>
		<h5 class="subheader">
Field audits, which are conducted by an agent, are often more in-depth than “correspondence” audits, which are conducted by mail and sometimes involve a single issue. Overall, the agency audited nearly 4% of taxpayers in this income category.
		<a href="http://www.thedaily.com/page/2012/03/26/032612-biz-audits/"> Read more ...</a>
		</h5>
					
	</div>
</div>

