<% layout('layout') -%>
<div class="row">
	<div class="nine columns centered">
		<h2>You can't deduct that!</h2>
		<hr/>
		<h5 class="subheader">
This might not be the year to cut corners on taxes, particulary if you've been hauling in millions. Almost on in three tax payers with more than $10 million in gross income were audited last year up from 18 percent in 2010 according to new data from the IRS.  
		</h5>
		<h5 class="subheader">
		Meanwhile, the audit rate for those making between $5 million and $10 million surged from 12 percent to 21 percent.
		<a href="http://www.thedaily.com/page/2012/03/26/032612-biz-audits/"> Read more ...</a>
		</h5>
					
	</div>
</div>

